<!DOCTYPE html>
<html>
<head>
    <title>E-commerce Site</title>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
 <style>
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 </style>
   <div class="container">
        {% if messages %}
            {% for message in messages %}
                <p style="color:red;">{{ message }}</p>
            {% endfor %}
        {% endif %}

        {% block content %}{% endblock %}
        
    </div>


</body>
</html>
